.imgHtml {
    @include responsive(768px) {
        width: 600px;
    }

    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-image: url('../../image/about/about-evs.jpg');

    i {
        cursor: pointer;
        color: $light
    }


}

.main-page-photo {
    @extend %main-page;
    background-image: url('../image/speakers');


}

.photo {
    padding: 100px 0;
    min-height: 100vh;

    h2 {
        @extend %heading;
        color: $main-color;
    }

    figure {
        overflow: hidden;
        border-radius: 10px;

        img {
            @include responsive(767px) {

                height: 350px;
            }
        }



    }




}